services:
  mailserver:
    build: .
    container_name: mailserver
    hostname: ${MAIL_HOSTNAME:-mail.example.com}
    env_file: .env
    network_mode: "host"           # Use host network directly (best for mail servers)
    volumes:
      - mail-data:/var/mail/vhosts          # Email storage (persistent)
      - ssl-certs:/etc/letsencrypt          # SSL certificates (persistent)
      - dkim-keys:/etc/opendkim/keys        # DKIM signing keys (persistent)
      - mail-logs:/var/log                  # Log files
    restart: unless-stopped
    cap_add:
      - NET_ADMIN     # Required for Fail2ban (iptables)
    # Uncomment to mount custom config files (overrides built-in configs):
    #   - ./config/main.cf:/etc/postfix/main.cf
    #   - ./config/master.cf:/etc/postfix/master.cf
    #   - ./dovecot:/etc/dovecot/conf.d/

volumes:
  mail-data:
    driver: local
  ssl-certs:
    driver: local
  dkim-keys:
    driver: local
  mail-logs:
    driver: local
